body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cell{
    background-color: aquamarine;
    /*min-height: 20px;
    min-width: 20px;*/

    flex: 1;
    color: rgba(0, 0, 0, 0);
}

.row{
    display: flex;
    justify-content:center;
    gap:2px;
    margin-bottom: 2px;
    flex-direction:row; 
    align-items:center;
}

.painted{
    background-color: blueviolet;
}

.flex-center{
    display: flex;
    justify-content:center;
    gap:10px;
    margin-bottom: 20px;
    flex-direction:row; 
    align-items:center; 
}

h1{
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 960px;
}